.navbar-side {
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  z-index: 50;
  transition: 0.3s;
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  user-select: none;
  overflow: hidden;
  transition-property: width;
  transition-duration: 0.5s;
}
.navbar-side .img {
  padding-left: 9px;
  width: 60px;
}
.nav-header {
  padding: 15px 0;
  transition: 0.3s;
}
.nav-header .user {
  font-size: 24px;
  padding-top: 5px;
}
.nav-header .user,
.nav-title {
  opacity: 0;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar-side:hover .nav-header .user,
.navbar-side:hover .nav-title {
  opacity: 1;
}
.nav-link {
  list-style: none;
  padding: 1.25rem;
  padding-top: 0;
  height: auto;
}
.navbar-side:hover {
  overflow-y: scroll;
  width: 200px;
}
.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3b4286;
  gap: 15px;
  transition: 0.3s;
}
.nav-item .nav-icon {
  padding-left: 20px;
  font-size: 20px;
}
.nav-active {
  color: #4b0dba !important;
  filter: drop-shadow(0 0 5px #4b0dba);
}
.nav-item:hover {
  color: #06aa44 !important;
}
.nav-title {
  font-size: 14px;
}
.nav-toggle {
  position: fixed;
  top: 75px;
  left: 70px;
  width: 0px;
  height: 0px;
  border-top: 0.5px solid rgba(128, 128, 128, 0.4);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.4);
  border-right: 0.5px solid rgba(128, 128, 128, 0.4);
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  transition: 0.3s;
  color: #4b0dba;
  cursor: pointer;
  opacity: 0;
}
.nav-toggle.active {
  left: 200px;
  top: 12px;
  border: 0.5px solid #4b0dba;
  border-radius: 5px;
}
.toggle-menu {
  background-color: #4b0dba;
  width: 75%;
  border-radius: 6px;
  height: 3px;
  position: relative;
  transition: 0.3s;
}
.toggle-menu::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  content: "";
  top: 8px;
  left: 0;
  background-color: #4b0dba;
  transition: 0.3s;
}
.toggle-menu::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  content: "";
  top: -8px;
  left: 0;
  background-color: #4b0dba;
  transition: 0.3s;
}

.toggle-menu.active {
  background-color: transparent;
}

.toggle-menu.active::after {
  top: 0;
  transform: rotate(45deg);
}
.toggle-menu.active::before {
  top: 0;
  transform: rotate(-45deg);
}
